/* Container für das Dashboard */
.dashboard-container {
    padding: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  /* Button zum neuen Account verbinden */
  .connect-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .connect-button:hover {
    background-color: #218838;
  }

  .selection-button {
    background-color: #279c3a; /* Blaue Hintergrundfarbe */
    color: white; /* Weiße Schriftfarbe */
    padding: 10px 20px; /* Innenabstand */
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; /* Schriftgröße */
    margin: 10px; /* Abstand nach allen Seiten */
    transition: background-color 0.3s ease; /* Übergangseffekt */
  }
  
  .selection-button:hover {
    background-color: #0056b3; /* Dunklere blaue Farbe beim Hover */
  }
  
  .selection-button:focus {
    outline: none; /* Entfernt den Standardfokusrahmen */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Hinzufügen eines Fokus-Schatteneffekts */
  }

  
  /* Container für die Auswahl */
  .selection-container {
    display: flex;
    gap: 10px;
  }
  
  .selection-container button {
    flex: 1;
    padding: 15px;
    font-size: 18px;
  }
  
  /* Bildcontainer für die Exchanges und Wallets */
  .image-container {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
  }
  
  .image-container img {
    width: 50px;
    height: 50px;
    
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .image-container:hover img {
    border-color: #008cba;
  }
  
  /* Container für das Formular */
  .editing-container {
    background-color: #2d3748;
    padding: 20px;
    border-radius: 5px;
    color: white;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .editing-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .editing-container input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .editing-container button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .editing-container button:hover {
    background-color: #218838;
  }
  
  /* Allgemeine Stile für den Container */
.Account-Data {
  display: flex; /* Flexbox-Layout aktivieren */
  flex-wrap: wrap; /* Elemente umbrechen, wenn sie nicht in eine Zeile passen */
  justify-content:center; /* Platz zwischen den Elementen */
  align-items: center; /* Elemente vertikal zentrieren */
  background-color: #404040;
  padding: 10px;
  border-radius: 15px;
  width: 200%;
}

/* Stile für die Balance-Box */
.Balance {
  flex: 1; /* Gleichmäßige Verteilung des verfügbaren Platzes */
  min-width: 100px; /* Mindestbreite für kleine Bildschirme */
  max-width: 250px;
  margin: 10px; /* Außenabstand */
  padding: 5px; /* Innenabstand */
  background-color: #3fcdc4; /* Hintergrundfarbe */
  border-radius: 8px; /* Abgerundete Ecken */
  text-align: center; /* Text zentrieren */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Äußerer Schatten mit weicher Kante */
}

/* Stile für das Chart-Element */
.chart-container {
  flex: 2; /* Größerer Platz für das Diagramm */
  min-width: 300px; /* Mindestbreite für kleine Bildschirme */
  margin: 10px; /* Außenabstand */
  color: black;
}

/* Responsive Anpassungen */
@media (max-width: 768px) {
  .Account-Data {
    flex-direction: column; /* Elemente in Spalten anordnen auf kleinen Bildschirmen */
    align-items: stretch; /* Elemente über die gesamte Breite dehnen */
  }

  .Balance, .chart-container {
    margin: 5px 0; /* Vertikaler Abstand zwischen den Elementen */
  }
}

.Money {
  color: #238321;
}