.home {
    padding: 80px;
    color: #c5c5c5;
    background-color: #1c331d;
    border-radius: 25px;
    background: radial-gradient(to right, #0F2310, #1c331d);
  }
  
  .intro {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    stroke: #000000;
  }
  
  .intro h1 {
    font-size: 4em;
  }
  
  .intro p {
    font-size: 1.5em;
  }
  
  .features, .reviews, .faq {
    margin-bottom: 40px;
  }
  
  .features h2, .reviews h2, .faq h2 {
    font-size: 2em;
    color: #0e60f7;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style-type: none;
    padding: 0;
  }
  
  .features li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .reviews p {
    color: black;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .faq .faq-item {
    margin-bottom: 20px;
  }
  
  .faq .faq-item h3 {
    font-size: 1.2em;
    color: #a2a2a2;
  }
  
  .faq .faq-item p {
    font-size: 1em;
    color: #e8e8e8;
  }
  